.coin-page {
  background-color: var(--gs-2);

  &__inner {
    margin-bottom: 115px;
    background-color: #fff;
    border-radius: 5px;
  }

  &__delimetr {
    border-bottom: 1px solid var(--gs-2);
  }

  &__header {
    display: flex;
    align-items: center;
    height: 70px;
    padding: 0 20px;
  }

  &__percent-change {
    display: flex;
    margin-left: 10px;

    &_positive {
      color: var(--green);
    }

    &_negative {
      color: var(--red);
    }
  }

  &__functions {
    height: 75px;
  }

  &__logo {
    align-self: center;
    width: 22px;
    margin-right: 15px;
  }

  &__title {
    color: var(--g-8);

    &_mb_20 {
      margin-bottom: 20px;
    }
  }

  &__price {
    margin-left: 20px;
    color: var(--g-8);
  }

  &__about {
    padding: 30px 30px 55px;
  }

  &__text {
    color: #9fa6b4;
    line-height: 22px;
  }

  &__footer {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 30px;
  }

  &__link {
    display: flex;
    color: var(--gs-8);
    text-decoration: none;
    transition: all .15s ease;

    &:not(:last-child) {
      margin-right: 60px;
    }

    &:hover {
      color: #4c80ec;
    }
  }

  &__footer-icon {
    width: 16px;
    margin-right: 8px;
  }

  &__watchlist {
    margin-right: 30px;
  }

  &__watchlist-icon {
    width: 16px;
    margin-right: 5px;
  }
}

.coin-statistic {
  padding: 20px 30px 33px;

  &__info {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
    max-height: 250px;
  }

  &__card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(50% - 10px);
    height: 50px;
    padding: 0 20px;
    border-radius: 5px;

    &_bg_gray {
      background-color: rgba(76, 128, 236, .04);
    }
  }

  &__name,
  &__value {
    color: var(--gs-9);
    font-weight: 500;
    font-size: 13px;
    font-family: "Roboto", sans-serif;
  }

  &__value {
    color: var(--gs-8);
    font-weight: normal;
  }
}
