.home {
  min-height: 100vh;
  background-color: var(--ac-2);

  &__inner {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 192px);
    margin: 35px 0px;
  }

  &__info {
    width: 100%;
  }

  &__table {
    width: 100%;
    margin: 20px 0px;
  }

  &__cap,
  &__volume {
    margin-right: 35px;
  }

  &__caption {
    color: var(--g-8);
  }

  &__text {
    color: var(--gs-8);

    &_acent {
      margin-right: 5px;
      font-weight: 500;
    }

    &_table-header {
      color: var(--gs-9);
    }

    &_number {
      margin-right: 30px;
    }

    &_ta_center {
      text-align: center;
    }
  }

  &__table-header {
    padding: 15px 25px 15px 20px;
    background-color: var(--gs-1);
    border-bottom: 1px solid var(--ac-2);
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
  }

  &__empty {
    width: 16px;
  }
}

.empty-data {
  width: 100%;
  margin-bottom: 40px;
  padding: 30px 40px;
  background-color: var(--gs-1);
  border-radius: 5px;

  &__caption {
    margin-bottom: 10px;
    color: var(--g-8);
  }

  &__text {
    color: var(--gs-7);
  }
}
