.portfolio {

  &__inner {
    min-height: calc(100vh - 122px);
    padding-top: 20px;
    background-color: var(--ac-2);
  }

  &__income {
    margin-top: 20px;
    margin-bottom: 30px;
    background-color: var(--gs-1);
    border-radius: 5px;
  }

  &__graf-section {
    padding: 20px;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  &__tabs {
    margin-right: 20px;
  }

  &__graf {
    margin-top: 20px;
  }

  &__text {
    color: var(--gs-7);
  }

  &__holdings,
  &__transactions {
    margin-top: 20px;
  }
}
