.sign {
  --bg-color: #f7f9fc;
  flex-direction: column;

  width: 100%;
  height: 100vh;
  background-color: var(--bg-color);

  &__form {
    position: relative;
    flex-direction: column;
    width: 430px;
    height: 480px;
    padding: 40px 55px 0;
    background-color: #fff;
    border-radius: 5px;
  }

  &__logo {
    margin-bottom: 80px;
    cursor: pointer;
  }

  &__caption {
    margin-bottom: 40px;
    color: var(--g-8);
    font-weight: 600;
    font-size: 20px;
    font-family: "Montserrat", sans-serif;
    line-height: 30px;
  }

  &__forgot {
    color: var(--main-color-1);
  }

  &__email {
    width: 320px;
    margin-bottom: 20px;
  }

  &__pass {
    width: 320px;
    margin-bottom: 30px;
  }

  &__submit {
    width: 320px;
    margin-bottom: 20px;
  }

  &__footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;

    padding: 35px 0;
    border-top: 2px solid #f7f9fc;
  }

  &__social {
    width: 155px;
  }

  &__social + &__social {
    margin-left: 10px;
  }

  &__facebook {
    display: flex;
    width: 25px;
    margin-right: 2px;

    &[fill] {
      fill: #3c5a9a;
    }
  }

  &__google {
    margin-right: 10px;
  }

  &__acc-info {
    margin-top: 50px;
    color: var(--gs-9);
    font-weight: 500;
    font-size: 12px;
    font-family: "Montserrat", sans-serif;
  }

  &__link {
    margin-left: 5px;
    color: var(--main-color-1);
    cursor: pointer;
  }
}

.signIn .error {
  color: red;
}
