.modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(23, 26, 45, .7);

  &__container {
    position: absolute;
    z-index: 10;
    width: 350px;
    min-height: 270px;
    background: var(--gs-1);
    border-radius: 5px;
    box-shadow: 0px 6px 13px rgba(31, 24, 60, .1);
  }

  &__close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 16px;
    height: 16px;
    cursor: pointer;
  }

  &_active {
    display: flex;
  }
}
