.tabs {

  &__item {
    padding: 5px 14px;
    color: var(--gs-9);
    background-color: var(--gs-2);
    border-radius: 5px;
    transition: all .15s linear;
    user-select: none;

    &:not(&_active):hover {
      color: var(--main-color-1);
      background-color: var(--gs-3);
      cursor: pointer;
    }

    &_active {
      color: var(--gs-1);
      background-color: var(--main-color-1);
    }
  }

  &__item:not(:last-child) {
    margin-right: 5px;
  }
}
