.transactions {
  width: 100%;
}

.transaction-card {
  width: 100%;
  padding: 24px 30px 24px 20px;
  background-color: var(--gs-1);

  &:not(:last-child) {
    border-bottom: 1px solid var(--ac-2);
  }

  &:last-child {
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
  }

  &__item {
    width: 10%;
    white-space: nowrap;
    text-align: right;

    &_sm {
      width: 6%;
    }
  }

  &__coin {
    margin-left: 30px;
  }

  &__logo {
    width: 16px;
    height: 16px;
    margin-right: 12px;
    background-color: transparent;
  }

  &__text {
    color: var(--gs-9);

    &_acent {
      color: #363d4b;
    }
  }

  &__type {
    position: relative;

    &:before {
      position: absolute;
      top: 50%;
      left: -11px;
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      transform: translateY(-50%);
      content: "";
    }

    &_buy {
      color: var(--green);
    }

    &_buy.transaction-card__type:before {
      background-color: var(--green);
    }

    &_sell {
      color: var(--red);
    }

    &_sell.transaction-card__type:before {
      background-color: var(--red);
    }
  }

  &__btn {
    width: 16px;
    height: 16px;

    &:not(:last-child) {
      margin-right: 24px;
    }
  }
}

.transaction-header {
  width: 100%;
  padding: 7px 35px 7px 20px;
  background-color: var(--gs-1);
  border-bottom: 1px solid var(--ac-2);
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;

  &__item {
    width: 10%;
    white-space: nowrap;
    text-align: right;

    &_sm {
      width: 6%;
    }
  }

  &__text {
    color: var(--gs-9);
  }

  &__order {
    margin-right: 30px;
  }
}
