// Colors variables

:root {
  --gs-1: #fff;
  --gs-2: #f9fafd;
  --gs-3: #f0f2f9;
  --gs-4: #e6e8f0;
  --gs-5: #d4d6e1;
  --gs-6: #b0b4c4;
  --gs-7: #989cad;
  --gs-8: #818697;
  --gs-9: #5c606d;
  --gs-10: #343945;

  --blue-0: #eff4ff;
  --blue-1: #98baff;
  --blue-2: #84a6fb;
  --blue-3: #6082f9;
  --blue-4: #3f61d8;
  --blue-5: #294bc2;

  --red-0: #ffe8e8;
  --red-1: #ff9b9b;
  --red-2: #ff7373;
  --red-3: #ed5555;
  --red-4: #d94141;
  --red-5: #c52d2d;

  --yellow-0: #fefbe5;
  --yellow-1: #ffff7b;
  --yellow-2: #ffed67;
  --yellow-3: #ffd953;
  --yellow-4: #f5cf49;
  --yellow-5: #ecc711;

  --green-0: #edfeee;
  --green-1: #77f59d;
  --green-2: #59df7f;
  --green-3: #4fc971;
  --green-4: #31b757;
  --green-5: #1da343;

  --side-bar-1: #362673;
  --side-bar-2: #2c1e69;
  --side-bar-3: #202050;
  --side-bar-accent: #8b84aa;

  --purple-1: #c2b9e9;
  --purple-2: #a495df;
  --purple-3: #8572d4;
  --purple-4: #674fc9;
  --purple-5: #523fa1;
  --purple-6: #3e2f79;
  --purple-7: #1f183c;
  --purple-8: #7e60f5;
}
