.ta-center {
  text-align: center;
}

.ta-end {
  text-align: end;
}

.tt-uppercase {
  text-transform: uppercase;
}

.fw-medium {
  font-weight: 500;
}

.fw-semi-bold {
  font-weight: 600;
}

.h1,
.h2,
.h3,
.h4,
.c1,
.c2,
.c3 {
  font-family: "Montserrat", sans-serif;
}

.h1,
.h2,
.h3,
.h4 {
  font-weight: 600;
  line-height: 30px;
}
.h1 {
  font-size: 22px;
}
.h2 {
  font-size: 20px;
}
.h3 {
  font-size: 18px;
}
.h4 {
  font-size: 16px;
}

.c1,
.c2,
.c3 {
  line-height: 20px;
}

.c1 {
  font-size: 14px;
}
.c2 {
  font-size: 13px;
}
.c3 {
  font-size: 12px;
}

.p2,
.p3,
.p4 {
  font-family: "Roboto", sans-serif;
  line-height: 24px;
}

.p2 {
  font-size: 14px;
}
.p3 {
  font-size: 13px;
}
.p4 {
  font-size: 12px;
}
